<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= form_with(model: @user, url: update_overwork_approval_user_path(@user), local: true, method: :patch) do |f| %>
            <%= f.hidden_field :id, :value => @attendance %>
             <table class = "table table-bordered table-condensed table-striped  table-overwork_approval">
        　　     <thead>
                  <tr>
                    <th>日付</th>
                    <th>曜日</th>
                    <th>終了予定時間</th>
                    <th>翌日</th>
                    <th>業務処理内容</th>
                    <th>指示者確認
                      <div class = "maru size_small black">
                        <div class = "letter3">印</div>
                      </div>
                    </th>
                  </tr>
               </thead>
               <tbody>
                <% @attendances.each do |day| %>
                  <tr>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <td><%= $days_of_the_week[day.worked_on.wday] %></td>
                    <td><%= f.time_field :overwork_end, class: "form-control" %></td>
                    <td><%= f.check_box(:next_day, { :checked => false  }) %></td>
                    <td><%= f.text_field :overwork_memo, class: "form-control" %></td>
                    <td><%= f.select :superior, [["superior", "superior"],["管理者", "管理者"],["上長A", "上長A"],["上長B", "上長B"]],:include_blank => true ,class:"form-control" %></td>
                  </tr>
                <% end %>
               </tbody>
            </table>
              <div type = margin-top: 10px></div> 
               <div class = center>
                 <%= link_to "変更を送信する", "#",class: "btn btn-primary btn-overwork-approval" %>
                 <button type="button" class="btn btn-default btn-opverwork-approval" data-dismiss="modal">
                   キャンセル
                 </button>
               </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>