<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

 <div class="col-md-6 col-md-offset-1">
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <div style = "margin-top:10px" ></div>
  <%= submit_tag "インポート", class: "btn btn-block btn-primary" %>
<% end %>
 </div>
 　  
 <div class="col-md-6 col-md-offset-1">
    <% @users.each do |user| %>
          <li><%= link_to user.name, user %></li>
           
            <div style = "margin-top: 10px"></div>
          <li><%= link_to "削除", user, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></li>
       
          <div style = "margin-top: 10px"></div>
          <li><%= link_to "編集", edit_user_path(user, @user), class: "btn btn-lg btn-primary" %></li>
         
    <% end %>
 </div>
 
 
 
 
 
 
 
