<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

 <div class="col-md-6 col-md-offset-1">
  <%= form_with url: csv_import_users_path do |form| %>
    <%= form.file_field :file, accept: '.csv' %>
    <div style = "margin-top: 10px" ></div>
    <%= form.submit "CSVをインポート", class: "btn btn-primary btn-csv-import" %>
  <% end %>
 </div>
 　  
 <div class="col-md-6 col-md-offset-1">
    <% @users.each do |user| %>
          <li><%= link_to user.name, user %></li>
          <div style = "margin-top: 10px"></div>
          <li><%= link_to "削除", :users, method: :delete, class: "btn btn-primary" %></li>
          <div style = "margin-top: 10px"></div>
          <li><%= link_to "編集", :users, method: :edit, class: "btn btn-lg btn-primary" %></li>
    <% end %>
 </div>