<% provide(:title, 'All Bases') %>

<h1>拠点情報一覧</h1>
<div class="col-md-10 col-md-offset-1">
  <table class = "table table-bordered table-condensed base-table">
    <thead>
     <tr>
       <td></td>
       <td></td>
       <td><b> 拠点番号 </b></td>
       <td><b> 拠点名 </b></td>
       <td><b> 勤怠種類 </b></td>
     </tr
    </thead>
    <tbody class = "table table-bordered table-condensed base-table">
     <div class = "border" >
      <% @bases.each do |base| %>
     　  <tr>
        
         <th><%= link_to "編集", edit_user_basis_path(session[:user_id], base.id), class: "btn btn-primary" %></th>
         <th>
           <%= link_to "削除", user_basis_path(session[:user_id], base.id), method: :delete, data: {confirm: "削除した宜しいですか？"}, class: "btn btn-primary" %>
         </th>
         
         <td><%= base.base_id %></td>
         <td><%= base.base_name %></td>
         <td><%= base.base_type %></td>
        </tr>
      <% end %> 
     
     </div>
    </tbody>
      
      <tr>
        <td>
          <%= link_to "拠点情報追加", new_user_basis_path(current_user), class: "btn btn-primary" %>
        </td>
      </tr>
  </table>
</div>